<h2>Create new suggestion</h2>

<form role="form">
  <div class="form-group">
    <label for="suggestionInput">Suggestion</label>
    {{input type="text" class="form-control" id="suggestionInput" placeholder="Enter a short title for suggestion" value=suggestion}}
  </div>
  <div class="form-group">
    <label for="descriptionInput">Description</label>
    {{textarea class="form-control" rows="3" id="descriptionInput" placeholder="Enter a more detailed description" value=description}}
  </div>
  <div class="form-group">
    <label for="emailInput">Email</label>
    {{input type="email" class="form-control" id="emailInput" placeholder="Enter your email so we can keep you updated on this suggestion" value=authorEmail}}
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Subscribe to updates
    </label>
  </div>
  <button class="btn btn-default" {{action "submit" this}}>Submit</button>
</form>

{{outlet}}
