<div class="row">

  <div class="col-md-8">

    <h2>Suggestions and Requests</h2>

    <hr>

    {{#each item in model itemController="suggestion"}}

      <div class="suggestion-item">

        <div class="row">

          <div class="col-sm-2 text-center">

            {{#if item.total}}
              <h2>{{item.total}}</h2>
            {{else}}
              <h2 class="text-muted">0</h2>
            {{/if}}

            <button type="button" class="btn btn-info" {{action 'vote' item}}>Vote</button>
            
          </div>

          <div class="col-sm-10">

            <h3>{{#link-to 'suggestion' item}}{{item.suggestion}}{{/link-to}} <small>Created {{nice-date item.createdAt}}</small></h3>

            <p class="tags">
              <span class="label label-info">New</span>
              <span class="label label-success">Accepted</span>
              {{!--  <span class="label label-warning">Discussion</span>
              <span class="label label-primary">In Progress</span>
              <span class="label label-danger">Rejected</span> --}}
            </p>

            <p>{{item.description}}</p>

            <br /> 

            <div class="input-group">
              <input type="text" placeholder="Leave a comment" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" {{action 'comment' item}}>Post</button>
              </span>
            </div><!-- /input-group -->

            {{#if item.notes}}
            <p>
            <small>
                {{#each item.notes}}
                <p>{{note}}</p>
                {{/each}}
            </small>
            </p>
            {{/if}}

          </div>

        </div>

      </div>

    {{else}}

      <p class="lead">Looks like we have no suggestions yet!</p>

      <p>Why don't you {{#link-to 'create'}}suggest something{{/link-to}} for us?</p>

    {{/each}}

  </div>

  <div class="col-md-4">

    {{outlet}}

  </div>

</div>