<div class="row">

  <div class="col-md-6">

    <h2>Suggestions and Requests</h2>

    <hr>

    {{#each item in model itemController="suggestion"}}

      <div class="suggestion-item">

        <div class="vote-box">
          <p class="vote-text text-center">{{item.total}}</p>
          <button type="button" class="btn btn-default btn-sm" {{action 'vote' item}}>Vote</button>
        </div>

        <h4>{{item.suggestion}}</h4>

        <p>{{item.description}}</p>

        <p class="notes">

          <ul>
          {{#each item.votes}}

            {{#if note}}
            <li><small>{{note}}</small></li>
            {{/if}}

          {{/each}}
          </ul>

        </p>

      </div>

    {{else}}

      <p class="lead">Looks like we have no suggestions yet!</p>

      <p>Why don't you {{#link-to 'create'}}suggest something{{/link-to}} for us?</p>

    {{/each}}

  </div>

  <div class="col-md-6">

    {{outlet}}

  </div>

</div>