<div class="row">

  <div class="col-md-8">

    <h2>Suggestions and Requests</h2>

    <hr>

    {{#each item in model itemController="suggestion"}}

      <div class="suggestion-item">

        <div class="row">

          <div class="col-md-2">
            
          </div>

          <div class="col-md-10">

            <h3>{{#link-to 'suggestion' item}}{{item.suggestion}}{{/link-to}} <small>Added on </small></h3>

            <p>{{item.description}}</p>

            <span class="label label-info">New</span>
            <span class="label label-success">Accepted</span>
            <span class="label label-warning">Discussion</span>
            <span class="label label-primary">In Progress</span>
            <span class="label label-danger">Rejected</span>

          </div>

        </div>

        Notest

      </div>

    {{/each}}

    <br /><br /><br />

    {{#each item in model itemController="suggestion"}}

      <div class="suggestion-item">

        <div class="vote-box">
          <p class="vote-text text-center">{{item.total}}</p>
          <button type="button" class="btn btn-default btn-sm" {{action 'vote' item}}>Vote</button>
        </div>

        <h4>{{item.suggestion}}</h4>

        <p>{{item.description}}</p>

        <p class="notes">

          <ul>
          {{#each item.notes}}

            {{#if note}}
            <li><small>{{note}}</small></li>
            {{/if}}

          {{/each}}
          </ul>

        </p>

      </div>

    {{else}}

      <p class="lead">Looks like we have no suggestions yet!</p>

      <p>Why don't you {{#link-to 'create'}}suggest something{{/link-to}} for us?</p>

    {{/each}}

  </div>

  <div class="col-md-4">

    {{outlet}}

  </div>

</div>