<div class="row">

  <h2>Suggestions and Requests</h2>

  <hr>

  <div class="col-md-8">

    {{#each item in model itemController="suggestion"}}

      <div class="suggestion-item">

        <div class="row">

          <div class="col-sm-2 text-center">

            <div class="panel panel-default">
              <div class="panel-body">

            {{#if item.total}}
              <div class="vote-count">{{item.total}}</div>
            {{else}}
              <div class="vote-count text-muted">0</div>
            {{/if}}

            <button type="button" class="btn btn-info" {{action 'vote' item}}>Vote</button>

              </div>
            </div>
            
          </div>

          <div class="col-sm-10">

            <h3>{{#link-to 'suggestion' item}}{{item.suggestion}}{{/link-to}} <small>Created {{nice-date item.createdAt}}</small></h3>

            <p class="tags">
              <span class="label label-info">New</span>
              <span class="label label-success">Accepted</span>
              {{!--  <span class="label label-warning">Discussion</span>
              <span class="label label-primary">In Progress</span>
              <span class="label label-danger">Rejected</span> --}}
            </p>

            <p>{{item.description}}</p>

          </div>

        </div>

      </div>

    {{else}}

      <p class="lead">Looks like we have no suggestions yet!</p>

      <p>Why don't you {{#link-to 'create'}}suggest something{{/link-to}} for us?</p>

    {{/each}}

  </div>

  <div class="col-md-4">

    {{!-- <ul>
      {{#each item in model itemController="suggestion"}}
      <li>{{#link-to 'suggestion' item}}{{item.suggestion}}{{/link-to}} - {{item.total}}</li>
      {{/each}}
    </ul> --}}

  </div>

</div>