{{!-- <div class="container"> --}}

  <div class="row">

    <div class="col-sm-2 text-center">

      {{#if total}}
        <h2>{{total}}</h2>
      {{else}}
        <h2 class="text-muted">0</h2>
      {{/if}}

      <button type="button" class="btn btn-info" {{action 'vote' this}}>Vote</button>
      
    </div>

    <div class="col-sm-10">

      <div class="panel panel-default">
        <div class="panel-body">

          <h3>{{suggestion}} <small>Created {{nice-date createdAt}}</small></h3>

          <p class="tags">
            <span class="label label-info">New</span>
            <span class="label label-success">Accepted</span>
            {{!--  <span class="label label-warning">Discussion</span>
            <span class="label label-primary">In Progress</span>
            <span class="label label-danger">Rejected</span> --}}
          </p>

          <p>{{description}}</p>

        </div>
      </div>

      <div class="input-group">
        <input type="text" placeholder="Leave a comment" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" {{action 'comment' this}}>Post</button>
        </span>
      </div><!-- /input-group -->

      {{#each notes}}
        <p>{{note}}</p>
      {{else}}
        no notes
      {{/each}}

    </div>

  </div>

{{outlet}}
