<div class="row">

  <div class="col-sm-2 text-center">

    {{!-- <div class="vote-circle-box">
      {{vote-circle action="vote"}}
    </div> --}}

    {{#if total}}
      <h2>{{total}}</h2>
    {{else}}
      <h2 class="text-muted">0</h2>
    {{/if}}

    <button type="button" class="btn btn-info" {{action 'vote' this}}>Vote</button>
    
  </div>

  <div class="col-sm-10">

    <h3>{{suggestion}} <small>Created {{nice-date createdAt}}</small></h3>

    <p class="tags">
      {{#each tags}}
      <span class="label label-info">{{tag}}</span>
      {{/each}}
    </p>

    <p>{{description}}</p>

    <div class="container-fluid">

      <div class="row">

        <div class="col-sm-6">

          <div class="panel panel-default notes">
            <div class="panel-body">

              {{#each notes itemController="note"}}

                {{#if controllers.application.isAdmin}}
                <div class="note">&bull; {{note}} <span class="text-muted"> - {{nice-date createdAt}}</span>
                <button class="btn btn-link btn-xs" type="button" {{action 'removeNote'}}>Remove</button></div>
                {{else}}
                <div class="note">&bull; {{note}} <span class="text-muted"> - {{nice-date createdAt}}</span></div>
                {{/if}}

              {{else}}
                <div class="note"><span class="text-muted">No comments, why don't you leave one?</span></div>
              {{/each}}

              <div class="input-group add-note">
                {{input class="form-control" placeholder="Leave a comment" value=note insert-newline="comment"}}
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" {{action 'comment' this}}>Post</button>
                </span>
              </div>

            </div>
          </div>

        </div>

        <div class="col-sm-6">

          <div class="panel panel-default notes">
            <div class="panel-body">

            </div>
          </div>

          {{#if controllers.application.isAdmin}}
          <div class="panel panel-default suggestion-admin">
            <div class="panel-body">

              <button type="button" class="btn btn-sm btn-danger" {{action 'remove' this}}>Remove Suggestion</button>

              <div class="input-group add-note">
                {{input class="form-control" placeholder="Add a tag" value=tag insert-newline="tag"}}
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" {{action 'tag' this}}>Add</button>
                </span>
              </div>

            </div>
          </div>
          {{/if}}


        </div>

      </div>

    </div>

  </div>

</div>

{{outlet}}
