<div class="well">
  
  <div class="page-header">
    <button type="button" class="btn btn-info pull-right" {{action 'vote'}}>Vote</button>
    <h1>{{model.suggestion}} <small>{{model.votes}} votes</small></h1>
  </div>

  <p>{{model.description}}</p>

</div>

{{outlet}}
