{{!-- <div class="container"> --}}

  <div class="row">

    <div class="col-sm-2 text-center">

      {{#if total}}
        <h2>{{total}}</h2>
      {{else}}
        <h2 class="text-muted">0</h2>
      {{/if}}

      <button type="button" class="btn btn-info" {{action 'vote' this}}>Vote</button>
      
    </div>

    <div class="col-sm-10">

      <h3>{{suggestion}} <small>Created {{nice-date createdAt}}</small></h3>

      <p class="tags">
        <span class="label label-info">New</span>
        <span class="label label-success">Accepted</span>
        {{!--  <span class="label label-warning">Discussion</span>
        <span class="label label-primary">In Progress</span>
        <span class="label label-danger">Rejected</span> --}}
      </p>

      <p>{{description}}</p>

      <div class="container-fluid">

        <div class="row">

          <div class="col-sm-6">

            <div class="panel panel-default notes">
              <div class="panel-body">

                {{#each this in notes}}
                  <div class="note">• {{note}} <span class="text-muted">{{nice-date createdAt}}</span></div>
                  {{!-- {{#link-to 'suggestions'}}open{{/link-to}}</div> --}}
                {{/each}}

                <div class="input-group add-note">
                  {{input class="form-control" placeholder="Leave a comment" value=note insert-newline="comment"}}
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" {{action 'comment' this}}>Post</button>
                  </span>
                </div>

              </div>
            </div>

          </div>

          <div class="col-sm-6">

            <div class="panel panel-default notes">
              <div class="panel-body">

              </div>
            </div>

            <div class="panel panel-default suggestion-admin">
              <div class="panel-body">

                <button type="button" class="btn btn-sm btn-danger" {{action 'remove' this}}>Remove Suggestion</button>

              </div>
            </div>


          </div>

        </div>

      </div>

    </div>

  </div>

{{outlet}}
