<div class="row">

  <div class="col-md-6">

    <h2>Suggestions and Requests</h2>

    {{#each item in model}}

      <div class="suggestion-item">

        <div class="vote-box">
          <p class="vote-text text-center">{{item.votes}}</p>
          <button type="button" class="btn btn-default btn-sm" {{action 'vote' item}}>Vote</button>
        </div>

        <p class="lead">{{item.suggestion}}</p>

        <p>{{item.description}}</p>


      </div>

    {{/each}}

  </div>

  <div class="col-md-6">

    {{outlet}}

  </div>

</div>