<div class="row" id="title-bar">

  <div class="col-md-9">

    <h2>Suggestions and Requests</h2>

  </div>

  <div class="col-md-3">

    <div id="quick-bar" class="btn-group btn-group-sm" role="group" aria-label="">
      {{#link-to "create" type="button" class="btn btn-info"}}{{this.length}}{{/link-to}}
      <button type="button" {{action "sort" "createdAt"}} {{bind-attr class="createdAtSort"}}>Newest</button>
      <button type="button" {{action "sort" "total"}} {{bind-attr class="totalSort"}}>Popular</button>
    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-8">

    {{#each this itemController='suggestion'}}

      <div class="suggestion-item">

        <div class="row">

          <div class="col-sm-2 text-center">

            {{#if total}}
              <h2 class="vote-count" {{bind-attr class="voted"}}>{{total}}</h2>
            {{else}}
              <h2 class="text-muted">0</h2>
            {{/if}}

            <button type="button" class="btn btn-info" {{action 'vote' this}} {{bind-attr disabled="pending"}}>Vote</button>
            
          </div>

          <div class="col-sm-10">

            <h3>{{#link-to 'suggestion' this}}{{suggestion}}{{/link-to}} <small>Created {{nice-date createdAt}}</small></h3>

            <p class="tags">
              {{#each tags}}
              <span class="label label-info">{{tag}}</span>
              {{/each}}
            </p>

            <p>{{truncate-text description limit=300}}</p>

            <p><small>{{#link-to 'suggestion' this}}{{notes.length}} comments{{/link-to}}</small></p>

          </div>

        </div>

      </div>

    {{else}}

      <p class="lead">Looks like we have no suggestions yet!</p>

      <p>Why don't you {{#link-to 'create'}}suggest something{{/link-to}} for us?</p>

    {{/each}}

  </div>

  <div class="col-md-4">

    {{!-- <ul>
      {{#each item in model itemController="suggestion"}}
      <li>{{#link-to 'suggestion' item}}{{item.suggestion}}{{/link-to}} - {{item.total}}</li>
      {{/each}}
    </ul> --}}

  </div>

</div>